.ref_container {
    width: 750px;
}

.ref_card {
    background-color: rgb(85, 83, 83);
    border: 2px solid #f7ff01fc;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
    height: 250px;
}
.ref_img {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
}

.ref_name{
    font-size: var(--normal-font-size);
    font-weight:var(--font-medium);
    margin-bottom: var(--mb-0-25);
}
.ref_desc{
    font-size: var(--small-font-size);
}

.swiper-pagination-bullet{
    background-color: #f7ff01fc !important;
}

.swiper-pagination-bullet-active{
    background-color: #f7ff01fc !important;
}
.swiper,.swiper-container{
    padding: 8px;
}

@media screen and (max-width: 992px) {
    .ref_container {
        width: initial;
     
    }

    .ref_card {
        padding:1.25rem 1.5rem;
    }

}




